<div >
    <div class="cont-button">
        <button *ngIf="empleado.bono" (click)="detalles()">Bono</button>
    </div>
    <div [ngStyle]="{'visibility': display}" [ngStyle]="" *ngIf="empleado.detalleBono !== undefined">
        <h3>detalle bono</h3>
        <p>
            descripción: {{empleado.detalleBono.descripcion}}
        </p>
        <p>
            Valor: {{empleado.detalleBono.valor | currency: 'USD' }}
        </p>
        <p>
            Fecha expiración: {{empleado.detalleBono.fechaExpiracion}}
        </p>
    </div>
</div>