button {
    border: none;
    background-color: rgb(15, 106, 185);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.cont-button {
    display: flex;
    justify-content: right;
}
